<div class='panel panel-primary'>
    
     <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class='row'>
            <div class='col-md-12'>
                <button (click)='clockIn()' class="btn btn-primary">Clock In</button>
            </div>
        </div>        
        <div class='row'>
            <div class='col-md-12'>
                <button (click)='clockOut()' class="btn btn-primary">Clock Out</button>
            </div>
        </div>
    </div>
</div>